<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iris.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IRIS</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
            <string>Necesitamos el micrófono para transcribir la voz en tiempo real durante las clases.</string>
        </edit-config>
        <edit-config target="NSSpeechRecognitionUsageDescription" file="*-Info.plist" mode="merge">
            <string>Necesitamos el reconocimiento de voz para convertir tu voz a texto en tiempo real.</string>
        </edit-config>
    </platform>
</widget>
